.patientsTable {
    margin-top: 40px;
    margin-left: 20%;
}

.wrapper {
    margin-top: 20px;
    text-align: center;
}

h3 {
    margin-left: 25px;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin-left: 10%;
  }
th {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #f1f1f1;
  }

tr:hover {
    background-color: rgb(148, 194, 196);
}

.noHover {
    pointer-events: none;
}

td{ 
    padding-left: 15px;
    border: 1px solid black;
    height: 50px;
 }

.addPatientButton {
    padding: 10px;
}

.deletePatient {
padding-right: 10px;
border: none;
background-color: #ffffff;
}

.errors {
    width: 200px;
    padding-right: 10px;
    border: none;
    background-color: #ffffff;
}   


.deleteHeader {
    border: none;
    width: 40px;
}

.errorDiv {
    color: red;
}

td {
    position: relative;
}

td > .rowLink{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-decoration: none;
    color: inherit;
}