.userField {
  max-width: 80%;
  max-height: 80%;
  margin-left: 10%;
  margin-top: 5%;
}

.column {
  flex: 33%;
}
  
.errMsg {
  color: red;
  font-size: 12px;
  margin: -20px 0.3px 2px 6px;
}
  
.userInfo {
  display: flex;
  grid-template-columns: 1fr;
  gap: 1em;
  background: #fff;
  box-shadow: 0.2em 0.2em 0.2em rgb(0 0 0 / 23%);
  padding: 1em;
  position: relative;
}

.viewEditDetails {
  padding-right: 5px;
  border: none;
  background-color: #ffffff;
}

.input-field {
  position: relative;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.buttons {
  margin: 0 auto;
  padding-top: 30em;
}

.historyButton {
  margin-left: 4em;
}
  
.saveButton {
  margin-top: 2em;
}

.saveButton, .historyButton, .editButton, .addEncounterButton {
  background: #666666;
  border-radius: 20px;
  color: #EEEEEE;
  cursor: pointer;
  height: 3em;
  width: 12em;
}

.viewDetailsButton, .editDetailsButton, .closeButton {
  border-radius: 20px;
  background: #666666;
  color: #EEEEEE;
}

.encountersTable {
  border-collapse: collapse;
  width: 32%;
  margin-left: 20%;
}
  
.encountersTd {
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid black;
  height: 35px;
  position: relative;
}

.encounterIdTd {
  width: 40px;
  border: 1px solid black;
  height: 35px;
  position: relative;
}